<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<!-- namespace 비우면 에러 -->
<mapper namespace="com.winter.app.board.notice.NoticeDAO">

	<!-- list -->
	<select id="getList" resultType="NoticeDTO" parameterType="Pager">
		SELECT *
		FROM (SELECT ROWNUM R, N.*
			  FROM(SELECT * FROM NOTICE 
			  	   
			  	   ORDER BY BOARDNUM DESC)N)
		WHERE R BETWEEN #{startRow} AND #{lastRow}
	</select>
	
	
	<!-- detail -->
	<select id="getDetail" parameterType="BoardDTO" resultMap="getDetailResult">
		SELECT *
		FROM NOTICE 
			 LEFT JOIN
			 NOTICEFILES
			 USING (BOARDNUM)
		WHERE BOARDNUM = #{boardNum}
	</select>
	
	<resultMap type="NoticeDTO" id="getDetailResult">
		<id column="BOARDNUM" property="boardNum"/>
		<result column="BOARDTITLE" property="boardTitle"/>
		<result column="BOARDWRITER" property="boardWriter"/>
		<result column="BOARDCONTENTS" property="boardContents"/>
		<result column="BOARDDATE" property="boardDate"/>
		<result column="BOARDCHECK" property="boardCheck"/>
		<collection property="fileDTOs" javaType="List" ofType="BoardFileDTO">
			<id column="FILENUM" property="fileNum"/>
			<result column="FILENAME" property="fileName"/>
			<result column="ORINAME" property="oriName"/>
		</collection>
	</resultMap>

	
	<!-- add -->
	<insert id="setAdd" parameterType="BoardDTO">
		<selectKey keyProperty="boardNum" resultType="Long" order="BEFORE">
  			SELECT BOARD_SEQ.NEXTVAL FROM DUAL
  		</selectKey>
		INSERT INTO NOTICE
	  	VALUES((#{boardNum}, #{boardTitle}, #{boardWriter},#{boardContents}, SYSDATE, 0)	
	</insert>
	
	<!-- File Add -->
	<insert id="setFileAdd" parameterType="BoardFileDTO">
		INSERT INTO NOTICEFILES
		VALUES
		(BOARD_SEQ.NEXTVAL, #{boardNum},#{fileName},#{oriName})
	</insert>
	
</mapper>