<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<!-- namespace 비우면 에러 -->
<mapper namespace="com.winter.app.board.notice.NoticeDAO">
	<!-- list -->
	<select id="getList" resultType="NoticeDTO" parameterType="Pager">
		SELECT *
		FROM (SELECT ROWNUM R, N.*
			  FROM(SELECT * FROM NOTICE 
			  	   
			  	   ORDER BY BOARDNUM DESC)N)
		WHERE R BETWEEN #{startRow} AND #{lastRow}
	</select>
	
	<!-- <resultMap type="NoticeDTO" id="getDetailResult">
		<id />
		<result/>
	</resultMap> -->
	
	
	<!-- <select id="getDetail" parameterType="NoticeDTO" resultType="BoardDTO">
		SELECT *
		FROM NOTICE N
			 LEFT JOIN
			 NOTICEFILES NF
			 USING (BOARDNUM)
		WHERE BOARDNUM=#{boardNum}
	</select> -->
</mapper>