<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<!-- namespace 비우면 에러 -->
<mapper namespace="com.winter.app.board.notice.NoticeDAO">
	
	<sql id="search">
  		<where>
  			<if test="kind == 'kind1' or kind=='kind4'">
  				BOARDTITLE LIKE '%'||#{search}||'%'
  			</if>
  			<if test="kind == 'kind2' or kind=='kind4'">
  				OR BOARDCONTENTS LIKE '%'||#{search}||'%'
  			</if>
  			<if test="kind == 'kind3' or kind=='kind4'">
  				OR BOARDWRITER LIKE '%'||#{search}||'%'
  			</if>
  			
  		</where>
  	</sql>
	
	<!-- list -->
	<select id="getList" resultType="NoticeDTO" parameterType="Pager">
		SELECT *
		FROM (SELECT ROWNUM R, N.*
			  FROM(SELECT * FROM NOTICE 
			  	   <include refid="search"></include>
			  	   ORDER BY BOARDNUM DESC)N)
		WHERE R BETWEEN #{startRow} AND #{lastRow}
	</select>
	<select id="getTotalCount" resultType="Long" parameterType="Pager">
		SELECT COUNT(BOARDNUM)
		FROM NOTICE
	</select>
	
	
	<!-- detail -->
	<select id="getDetail" parameterType="BoardDTO" resultMap="getDetailResult">
		SELECT *
		FROM NOTICE 
			 LEFT JOIN
			 NOTICEFILES
			 USING (BOARDNUM)
		WHERE BOARDNUM = #{boardNum}
	</select>
	
	<resultMap type="NoticeDTO" id="getDetailResult">
		<id column="BOARDNUM" property="boardNum"/>
		<result column="BOARDTITLE" property="boardTitle"/>
		<result column="BOARDWRITER" property="boardWriter"/>
		<result column="BOARDCONTENTS" property="boardContents"/>
		<result column="BOARDDATE" property="boardDate"/>
		<result column="BOARDCHECK" property="boardCheck"/>
		<collection property="fileDTOs" javaType="List" ofType="BoardFileDTO">
			<id column="FILENUM" property="fileNum"/>
			<result column="FILENAME" property="fileName"/>
			<result column="ORINAME" property="oriName"/>
		</collection>
	</resultMap>

	
	<!-- add -->
	<insert id="setAdd" parameterType="BoardDTO">
		<selectKey keyProperty="boardNum" resultType="Long" order="BEFORE">
  			SELECT BOARD_SEQ.NEXTVAL FROM DUAL
  		</selectKey>
		INSERT INTO NOTICE (BOARDNUM, BOARDTITLE, BOARDWRITER, BOARDCONTENTS, BOARDDATE, BOARDCHECK)
	  	VALUES(#{boardNum}, #{boardTitle}, #{boardWriter},#{boardContents}, SYSDATE, 0)	
	</insert>
	
	<!-- File Add -->
	<insert id="setFileAdd" parameterType="BoardFileDTO">
		INSERT INTO NOTICEFILES
		VALUES
		(BOARD_SEQ.NEXTVAL, #{boardNum},#{fileName},#{oriName})
	</insert>
	
	<!-- UPDATE -->
	<update id="setUpdate" parameterType="BoardDTO">
		UPDATE NOTICE
		<set>
			<if test="boardTitle != null and boardTitle !=''">
			BOARDTITLE=#{boardTitle},
			</if>
			<if test="boardContents != null">
			BOARDCONTENTS=#{boardContents}
			</if>
		</set>
		WHERE BOARDNUM=#{boardNum}
	</update>
	
	<!-- DELETE -->
	<!-- file List -->
	<select id="getFileList" parameterType="BoardDTO" resultType="BoardFileDTO">
		SELECT FILENAME FROM NOTICEFILES 
		WHERE BOARDNUM=#{boardNum}
	</select>
	<!-- delete -->
	<delete id="setDelete" parameterType="BoardDTO">
		DELETE NOTICE WHERE BOARDNUM=#{boardNum}
	</delete>
</mapper>