<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<!-- namespace 비우면 에러 -->
<mapper namespace="com.winter.app.product.ProductDAO">
	<!-- list -->
	<select id="getList" resultType="ProductDTO" parameterType="Pager">
		SELECT *
		FROM( SELECT ROWNUM RN, R.* 
			  FROM (SELECT * FROM PRODUCT
					ORDER BY PRODUCTNUM DESC) R)
		WHERE RN BETWEEN #{startNum} AND #{lastNum}
	</select>
	<select id="getTotal" resultType="Long">
		SELECT COUNT(PRODUCTNUM) FROM PRODUCT;
	</select>
</mapper>