<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<!-- namespace 비우면 에러 -->
<mapper namespace="com.winter.app.wishlist.WishlistDAO">
	<!-- add -->
	<insert id="add" parameterType="AccountDTO">
		INSERT INTO WISHLIST
		VALUES (#{productNum},#{userName})
	</insert>

	<!-- list -->
	<select id="list" parameterType="MemberDTO" resultType="ProductDTO">
		SELECT PRODUCTNUM, PRODUCTNAME, PRODUCTRATE
		FROM PRODUCT
		WHERE PRODUCTNUM IN (
			SELECT PRODUCTNUM
			FROM WISHLIST
			WHERE USERNAME =#{userName}
		)
	</select>

	
	<!-- delete -->
	<delete id="delete" parameterType="Map">
		DELETE WISHLIST
		WHERE <!-- PRDUCTNUM IN (2,3,5) -->
		PRODUCTNUM IN
		<!-- Mybatis. collection="List, Array 는되지만 Map은안됨 ->map 키적기" /c:forEach 랑 같음. collection = items, item = var  -->
		<foreach collection="nums" item="n" open="(" separator="," close=")">
			#{n}
		</foreach>
		AND USERNAME=#{member.userName}
		
	</delete>
</mapper>